@import 'estilosAtresmedia.css';
@import 'distributiva.css';

@font-face { 
  font-family: 'Gotham Book'; 
  src:  url('../fonts/gotham-book.woff');
  font-weight: 400;
}
@font-face { 
  font-family: 'Gotham Book Italic'; 
  src:  url('../fonts/gotham-book-italic.woff');
  font-weight: 400;
}
@font-face { 
  font-family: 'Gotham Medium'; 
  src:  url('../fonts/gotham-medium.woff');
  font-weight: 500;
}
@font-face { 
  font-family: 'Gotham Medium Italic'; 
  src:  url('../fonts/gotham-medium-italic.woff');
  font-weight: 500;
}
@font-face { 
  font-family: 'Gotham Bold'; 
  src:  url('../fonts/gotham-bold.woff');
  font-weight: 700;
}
@font-face { 
  font-family: 'Gotham Bold Italic'; 
  src:  url('../fonts/gotham-bold-italic.woff');
  font-weight: 700;
}

/** Commons */
body{
  background-color: #FFF;
}
.ShadowEffect{
  box-shadow: none;
}
.outer-container, #layout-portlets-cover{
  max-width: 1220px;
  margin: 0 auto;
  width: 100% !important;
}
.Separator, .SeparatorFull {
  border-bottom: none;
}
.contenedorBotonera{
  border: none;
}
.ui-panelgrid-cell .TexAlRight{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.ui-corner-all{
  border-radius: 0 !important
}
.Container100{
  max-width: 1220px;
  margin: 0 auto;
  float: none;
}
.Container100 > form{
  min-height: calc(100vh - 385px);
}
.bubble {
  background-color: #f74741;
  border-radius: 50%;
  box-shadow: none !important;
  font-family: 'Gotham Bold', Helvetica, Arial, sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  padding: 0 !important;
  border: 1px #FFF solid !important;
  position: relative;
  left: -8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center;
}
.enlaceMenuModulo i{
  color: #000 !important;
  font-size: 22px !important;
  cursor: pointer;
}
.ui-commandlink{
  color: #000 !important;
}
.FontBold{
  font-family: 'Gotham Bold', Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
}

/** Layout */
/* Solicitudes RRHH */
#layout-portlets-cover-simple{
  max-width: 1220px;
  margin: 0 auto;
}


/** Grid */
.ui-panelgrid-cell{
  display: flex;
  align-items: center;
}

/** widget */
.ui-widget{
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
}
/* .ui-widget .ui-widget{
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
} */
.ui-widget .ui-state-focus, .ui-widget.ui-state-focus{
  box-shadow: none
}
.ui-widget button{
  transition: 0s !important;
}

/** Toolbar */
.ui-toolbar{
  border: none; 
  background-color: transparent; 
}

/** Outputpanel */




/** Listado */
.ui-tree{
  border: none;
  padding: 0;
  color: #000;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
}
.ui-tree .ui-treenode .ui-treenode-label{
  font-size: 15px;
  text-transform: lowercase;
}
.ui-tree .ui-treenode .ui-treenode-label span{
  padding-top: 1px;
  display: inline-block;
}
.ui-tree .ui-treenode .ui-treenode-label i{
  position: relative;
  top: -6px;
}
.ui-tree .ui-treenode .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode .ui-state-highlight{
  color: #f95752
}
.ui-tree .ui-treenode .ui-treenode-label:first-letter{
  text-transform: uppercase;
}
.ui-tree .ui-icon-triangle-1-e {
  background-image: url('../img/Arrow.svg');
  background-size: 40%;
}

.ui-tree .ui-icon-triangle-1-s {
  background-image: url('../img/Arrow.svg');
  background-size: 40%;
  transform: rotate(90deg);
}

/** Cards */
.Card {
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  color: #000;
  border: none;
  padding: 15px 0;
}
.CardTopic {
  font-size: 16px;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  margin: 0px;
  padding: 10px 0px;
  width: 100%;
  display: block;
  color: #000;
}
.CardSmallTopic {
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}
.CardBigTopic > .ui-outputlabel{
  display: inline;
}
.CardTopic i{
  display: none;
}

/** Formularios */
/* Label */
label{
  font-size: 14px;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  width: 100%;
  display: flex;
  align-items: center;
  height: 41px;
  flex-wrap: wrap;
  text-align: right;
  justify-content: flex-end;
}
/* Input */
.ui-inputfield, .ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus {
  color: #000 !important;
  font-size: 14px;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  padding: 12px 10px 11px 10px !important;
  border: 1px solid #d0d0d0;
  background-color: #FFF;
  border-radius: 0;
}
.ui-inputfield[readonly='readonly'], .ui-inputfield.Opac50{
  background-color: #f3f3f3;
  cursor: default;
}
.ui-outputlabel{
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;  
  height: 41px;
  align-items: center;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
}
::-webkit-input-placeholder{
  color: #898989;
}
/* fieldset */
.ui-fieldset {
  border: solid 1px #d0d0d0;
  background-color: #f3f3f3;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  border-radius: 0;
}
.ui-fieldset-content {
  font-size: 15px;
  color: #000;
}
form[id="resultForm"]{
  margin-top: 20px;
} 
/* Legend */
.ui-fieldset-legend{
  font-size: 15px;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  background-color: #898989;
}
/* Autocomplete */
.ui-fluid .ui-autocomplete-input{
  border-radius: 0 !important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight{
  background-color: #4c4c4c;
}
/* Checkbox */
.ui-chkbox + label{
  display: inline;
  position: relative;
  top: -4px;
  line-height: 22px;
}
.ui-chkbox .ui-chkbox-box {
  background: none;
  box-shadow: none;
  margin-right: 5px;
  margin-top: 2px;
  color: #000;
  border: solid 2px #d0d0d0;
}
.ui-chkbox .ui-chkbox-box.ui-state-active {
  border: solid 2px #93d936;
}
.ui-chkbox-box .ui-icon-check {
  border-radius: 0px;
  background-image: url('../img/CheckWhite.svg') !important;
  background-size: 80%;
  background-color: #87c139;
  transition: all 0s ease !important;
}
/* Radio */
.ui-radiobutton .ui-radiobutton-box{
  border: 2px #d0d0d0 solid;
  border-radius: 50% !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active{
  border: 2px #93d936 solid;
}
.ui-selectoneradio label, .ui-fluid .ui-selectoneradio label{
  text-align: left;
  color: #000;
  margin: 20px 15px 0px 0px !important;
  font-size: 14px;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet {
  background-image: none !important;
  background-size: 100%;
  background-position: center;
  margin: 0px;
  background-color: #87c139;
  position: relative;
  -webkit-transition: all 0.2s ease !important;
  -moz-transition: all 0.2s ease !important;
  -ms-transition: all 0.2s ease !important;
  -o-transition: all 0.2s ease !important;
  transition: all 0.2s ease !important;
}
.ui-radiobutton .ui-state-active .ui-icon-bullet:after, .ui-radiobutton .ui-state-focus .ui-icon-bullet:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #FFF;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}  
/* multiple check */
.ui-selectmanymenu .ui-state-highlight{
  background-color: #e7e7e7 !important;
  color: #000;
}
.ui-selectmanymenu .ui-state-hover{
  color: #000;
}


/* Select */
.ui-selectonemenu, .ui-selectonemenu.ui-state-focus, .ui-selectonemenu.ui-state-hover{
  border: none !important;
  box-shadow: none !important;
}
.ui-selectonemenu .ui-selectonemenu-label, .ui-selectonemenu .ui-selectonemenu-label.ui-state-focus, .ui-selectonemenu.ui-state-focus .ui-selectonemenu-label{
  background-color: #FFF !important;
  border: 1px solid #d0d0d0 !important;
  border-radius: 0 !important;
}
.ui-dialog .ui-selectonemenu.Opac50 label{
  background-color: #f3f3f3 !important;  
}
.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectonemenu .ui-selectonemenu-trigger.ui-state-hover, .ui-selectonemenu .ui-selectonemenu-trigger.ui-state-focus {
  color: #ffffff !important;
  background-color: #FFF;
  border: 1px solid #d0d0d0 !important;
  border-left: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  box-shadow: none !important; 
}
.ui-fluid .ui-selectonemenu .ui-selectonemenu-trigger {
  width: 41px !important;
  height: 41px !important;
}
.ui-selectonemenu-trigger .ui-icon-triangle-1-s {
  background-image: url('../img/Arrow.svg') !important;
  background-size: 44%;
  transform: rotate(90deg);
  margin-top: 12px !important;
}
.ui-selectonemenu-panel{
  background-color: #FFF;
  border-radius: 0;
}
.ui-selectonemenu-panel .ui-state-highlight{
  color: #FFF !important;
  background-color: #4c4c4c;
}
.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper{
  border: 1px #d0d0d0 solid;
}
.ui-selectonemenu-panel .ui-selectonemenu-list{
  background-color: #FFF;
}
.ui-selectonemenu-panel .ui-selectonemenu-list-item, .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list-item {
  color: #000;
  border: none;
}
.ui-selectonemenu-panel .ui-selectonemenu-item{
  border: none !important;
  text-transform: lowercase;
}
.ui-selectonemenu-panel .ui-selectonemenu-item:first-letter{
  text-transform: uppercase;
}
.ui-selectonemenu-panel .ui-selectonemenu-item.ui-state-hover{
  background-color: #d0d0d0;
}
.ui-selectonemenu-panel .ui-selectonemenu-item-group {
  background-color: #4c4c4c;
  text-transform: lowercase;
}
.ui-selectonemenu-panel .ui-selectonemenu-item-group:first-letter{
  text-transform: uppercase;
}


/** Botones */
.ui-button, .ui-button.ui-state-focus, .ui-button.ui-state-active{
  border-radius: 0px !important;
  font-size: 15px;
  font-family: 'Gotham Bold', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  color: #ffffff;
  background-color: #000;
  text-transform: uppercase;
  box-shadow: none !important;
  display: inline-block;
  width: auto !important;
  min-height: 41px;
  transition: 0s !important;
}  
.ui-button-text{
  transition: 0s !important;
  font-family: 'Gotham Bold', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  color: #ffffff;
  background-color: #000;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 12px 20px 10px 40px !important;
}
.GrayButton .ui-button-text, .GrayButton.ui-state-focus .ui-button-text, .GrayButton.ui-state-active .ui-button-text{
  border-radius: 0px !important;
  font-size: 15px;
  font-family: 'Gotham Bold', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  color: #ffffff;
  background-color: #000 !important;
  text-transform: uppercase;
  box-shadow: none !important;
  width: auto !important;
  border: none !important;  
}
.ui-button.ui-state-hover, .GrayButton.ui-state-hover .ui-button-text, .ui-button.ui-state-hover .ui-button-text{
  background-color: #4c4c4c !important;
}
/* botones inferiores*/
.contenedorBotonera .ui-button,.contenedorBotonera .ui-button.ui-state-focus,.contenedorBotonera .GrayButton .ui-button-text{
  background-color: #f95752 !important;
}
.contenedorBotonera .ui-button.ui-state-hover, .contenedorBotonera .GrayButton.ui-state-hover .ui-button-text, .contenedorBotonera .ui-button:first-child.ui-state-hover, .contenedorBotonera .GrayButton:first-child.ui-state-hover .ui-button-text{
  background-color: #000 !important;
  color: #FFF
}
/* ghost */
.contenedorBotonera .ui-button:first-child, .contenedorBotonera .ui-button:first-child.ui-state-focus,.contenedorBotonera .GrayButton:first-child .ui-button-text{
background-color: #FFF !important;
border: 2px #000 solid;
color: #000;
}

  /** Tablas */
.ui-datatable{
  border: none;
  background-color: transparent;
}
.ui-datatable table{
  border: none;
}
.ui-datatable table thead tr th.ui-state-hover{
  background-color: #e7e7e7 !important;
  color: #000;
}
.ui-datatable .ui-datatable-header{
  color: #000;
  background-color: transparent;
  border-radius: 0px !important;
  font-size: 15px;
  padding: 15px 10px !important;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.ui-datatable .ui-datagrid-header, .ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-subtable-header, .ui-datatable .ui-datatable-summaryrow{
  border: none !important;
}
.ui-datatable-tablewrapper thead, .ui-datatable-scrollable-header-box thead{
  border-bottom: 1px #000 solid;
}
.ui-panelgrid tfoot tr td{
  border: 1px #d0d0d0 solid;
}
table tbody tr td{
  color: #000;
}
.ui-panelgrid thead tr td, .ui-panelgrid tfoot tr td{
  border: solid 1px #d0d0d0 !important;
}
.ui-datatable .ui-datatable-scrollable-header{
  background-color: transparent !important;
}

/** Paginación */
.ui-paginator-top, .ui-paginator-bottom{
  background-color: #FFF;
}
.ui-datatable .ui-paginator-bottom {
  background-color: #FFF;
}
.ui-paginator .ui-paginator-current {
  font-size: 14px;
  color: #000;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
}
.ui-paginator .ui-paginator-prev .ui-icon, .ui-datatable .ui-paginator .ui-paginator-prev .ui-icon {
  background-image: url('../img/ArrowLeft.svg');
  background-size: 50%;
}
.ui-paginator .ui-paginator-first .ui-icon {
  background-image: url('../img/ArrowLeft.svg');
  background-size: 50%;
}
.ui-paginator .ui-paginator-next .ui-icon {
  background-image: url('../img/Arrow.svg');
  background-size: 50%;
}
.ui-paginator .ui-paginator-last .ui-icon, .ui-datatable .ui-paginator .ui-paginator-next .ui-icon {
  background-image: url('../img/Arrow.svg');
  background-size: 50%; 
}
.ui-datatable .ui-paginator .ui-paginator-last .ui-icon {
  background-image: url('../img/DobleArrow.svg');  
  background-size: 98%;
}
.ui-datatable .ui-paginator .ui-paginator-first .ui-icon {
  background-image: url('../img/DobleArrow.svg'); 
  background-size: 92%;
  transform: rotate(180deg);
}  

.ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th {
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  font-size: 14px;
  font-weight: 500;
}
.ui-datatable table thead tr th.ui-state-active, .ui-datatable table thead tr th.ui-state-focus, .ui-datatable .ui-datatable-sticky table thead tr th.ui-state-active {
  background-color: #d0d0d0 !important;
  color: #000;
}
.ui-datatable table thead tr th.ui-state-focus{
  background-color: #d0d0d0 !important;
}
.ui-datatable table tbody tr td {
  color: #000;
  border:none !important;
  border-bottom: 1px solid #e7e7e7 !important;
  font-size: 14px;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  padding: 15px 10px !important;
  text-transform: lowercase;
  transition: 0.4s !important;
}
.ui-datatable table tbody tr td::first-letter{
  text-transform: uppercase;
}
.ui-datatable .ui-datatable-even, .ui-datatable .ui-datatable-odd{
  background-color: #fbfbfb;
}
.ui-datatable table tbody .ui-state-hover > td, .ui-datatable table tbody .ui-state-highlight > td{
  background-color: #d0d0d0;
  color: #000;
  transition: 0s !important;
}
.ui-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page{
  color: #000;
}
.ui-datatable .ui-paginator .ui-paginator-current{
  color: #000;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
}
.ui-datatable .ui-paginator .ui-state-hover{
  border: 1px #fff solid !important;
}
.ui-datatable .ui-paginator-top{
  background: none;
}

/** Iconos */
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon-search, .ui-selectmanymenu .ui-selectlistbox-filter-container .ui-icon-search {
  width: 22px;
  height: 22px;
  background-image: url('../img/Search.svg');
  left: 10px !important;
  top: 15px !important;
}
.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-icon-search{
  top: 10px !important;
}
.ui-datatable table thead tr .ui-state-default .ui-icon-carat-2-n-s, .ui-datatable .ui-datatable-sticky table thead tr .ui-state-default .ui-icon-carat-2-n-s {
  background-image: url('../img/Ordenacion.svg');
  background-size: 70%;
  
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon-extlink {
  background-image: url('../img/Full-size.svg');
  margin-right: 10px;
}
.ui-dialog .ui-dialog-titlebar .ui-icon-newwin {
  background-image: url('../img/Full-size-out.svg');
  margin-right: 10px;
}
.ui-panel .ui-panel-titlebar .ui-icon-minusthick {
  background-image: url('../img/Minus.svg') !important;
  background-size: 100% !important;
}
.ui-panel .ui-panel-titlebar .ui-icon-plusthick {
  background-image: url('../img/Plus.svg') !important;
  background-size: 100% !important;
}
.ui-message-info-icon {
  background: url('../img/Warning.svg') no-repeat;
}
.ui-breadcrumb .ui-icon-home {
  background-image: url('../img/Home.svg') !important;
  background-size: 100% !important;
  height: 23px;
  width: 18px;
}
.ui-breadcrumb-chevron {
  background-image: url('../img/Arrow.svg') !important; 
  background-size: 40% !important;
  margin-top: 6px !important;
}


/** Tabs */
.ui-tabs-top{
  border: none !important;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav{
  background: #FFF !important;
  border-bottom: 2px #d0d0d0 solid;
  display: flex;
}
.ui-tabs.ui-tabs-top > .ui-tabs-nav li{
  background-color: #e7e7e7;
  border-radius: 0 !important;
}
.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active{
  background-color: #000 !important;
  margin-bottom: 0 !important;
  border: none !important;
}
.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active a, .ui-tabs-top .ui-tabs-nav li.ui-state-hover a {
  color: #FFF !important;
}

/** datepicker */
.ui-datepicker{
  background-color: #FFF !important;
  border: 1px #d0d0d0 solid;
  border-radius: 0 !important;
}
.ui-datepicker-trigger.ui-button-icon-only .ui-button-text{
  background-color: #000 !important;
}
.ui-datepicker-trigger.ui-button-icon-only.ui-state-hover .ui-button-text{
  background-color: #4c4c4c !important;
}
/* calendar */
.ui-shadow, #ui-datepicker-div{
  box-shadow: none !important;
}
.ui-datepicker .ui-datepicker-header{
  background-color: #FFF;
}
.ui-datepicker-header .ui-datepicker-prev, .ui-datepicker-header .ui-datepicker-next{
  background-color: #000;
  border-radius: 0 !important;
}
.ui-datepicker .ui-datepicker-title select{
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 12px !important;
}
.ui-datepicker-calendar thead tr th{
  background-color: #d0d0d0;
  color: #000;
  border-radius: 0 !important;
}
.ui-datepicker-calendar thead tr .ui-datepicker-week-end {
  background-color: #e7e7e7;
}
.ui-datepicker-calendar tbody tr td{
  border: 1px #FFF solid;
  border-radius: 0;
}
.ui-datepicker td a{
  text-align: center;
}
.ui-datepicker-calendar tbody tr td:hover {
  border: 1px #FFF solid;
  background-color: #f95752 !important;
}
.ui-datepicker-calendar tbody tr td:hover a{
  color: #FFF;
}
.ui-datepicker-calendar tbody tr td a.ui-state-hover{
  background-color: #f95752 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today{
  border: 1px solid #f95752;
}
.ui-datepicker-calendar tbody tr td a {
  color: #000 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today a {
  color: #000 !important;  
}

/** Timepicker */
.ui-timepicker-div .ui-widget-header{
  background-color: #000 !important;  
}
.ui-datepicker .ui-datepicker-title{
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.ui-timepicker-div{
  color: #000;
}
.ui-slider-handle{
  border: none !important;
  background-color: #87c139 !important;
  border-radius: 50% !important;
  box-shadow: none;
  ;
}
.ui-slider-handle.ui-state-hover{
  border: none !important;
  box-shadow: none !important;
}
.ui-slider{
  background-color: #FFF;
  border: 1px #87c139 solid;
  border-radius: 10px !important;
}
/* alertas */
.ui-growl-item{
  background-color: #FFF !important;
  border: 1px #000 solid !important;
  border-radius: 0 !important;
}
.ui-growl-title{
  color: #000 !important;
  border:none !important;
  border-bottom: 1px solid #e7e7e7 !important;
  font-size: 14px !important;
  font-family: 'Gotham Book', Helvetica, Arial, sans-serif !important;
  font-weight: 400 !important;
  padding: 15px 10px !important;
  text-transform: lowercase;
}
.ui-growl-image-error {
  background: url('../img/Exclamacion.svg') no-repeat !important;
}

/** Modales */
.ui-dialog{
  background-color: #FFF;
  color: #000;
  border-radius: 0;
}
.ui-dialog .ui-dialog-title{
  float: none;
  font-size: 18px;  
}

.ui-dialog .ui-dialog-titlebar{
  color: #000;
  background-color: #ffffff;
  font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
  font-weight: 500 !important;
  border-bottom: none !important;
  text-align: center;
  padding-top: 25px !important;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon-closethick{
  background: url('../img/Close.svg') no-repeat !important;
  background-size: 100% !important;
}

.ui-dialog .ui-datatable-tablewrapper{
  max-height: 400px;
  overflow-y: auto;
}

/** Editor */
.ui-editor {
  border: 1px #d0d0d0 solid;
  border-radius: 0 !important;
}

.ui-editor:hover{
  border: 1px #d0d0d0 solid;
}
.ui-editor-toolbar{
  border: 1px #d0d0d0 solid !important;
  background-color: #e7e7e7 !important;
}

/** Datagrid */
.ui-datagrid, .ui-datagrid .ui-datagrid-footer{
  border: none !important;
  background: transparent;
}

/** Panel */
.ui-panel{
  border: 1px solid #d0d0d0;
  background-color: #fbfbfb;
}
.ui-panel .ui-panel-titlebar {
  font-size: 14px;
  color: #000;
  font-family: 'Gotham Bold', Helvetica, Arial, sans-serif;
  font-weight: 700 !important;
  background-color: #f3f3f3;
  text-transform: uppercase;
  border: 1px solid #d0d0d0 !important;
}

/** Mensajes */
.ui-messages-info, .ui-message-info {
  color: #60c9de !important;
  border-color: #60c9de !important;
}

/** Columntoggler */
.ui-columntoggler .ui-columntoggler-item label{
  text-align: left;
  top: 7px;
}

/** Estilos especificos de formularios */
/* formación */
#buscadorCursosForm label{
  display: inline;
  text-align: left;
}
#buscadorCursosForm .ui-datatable table tbody tr td:nth-child(3), #buscadorCursosForm .ui-datatable table tbody tr td:nth-child(4){
  text-align: center;
}
.fa-file-excel-o.Green{
  color: #FFF !important;
}

/** Estilos formación */
#reclamacionCursosForm .ui-outputlabel{
  justify-content: flex-start;
}

#historicoCursosForm .ui-datatable table tbody tr td, #fichaFormacionEmpleadoForm .ui-datatable table tbody tr td,
#fichaJustificacionNoAsistenciaForm .ui-datatable table tbody tr td{
  text-align: center;
}

/** Login */
.WidAutoOnMobile > img{
  max-width: 170px !important;
}

#loginForm .ui-button{
  color: #ffffff;
  background-color: #f95752 !important;
  transition: 0.5s;
}
#loginForm .ui-button .ui-icon{
  color: #FFF !important;
}
#loginForm .GrayButton .ui-button-text{
  color: #ffffff;
  background-color: #f95752 !important;
  transition: 0.5s;
}
#loginForm .ui-button.ui-state-hover, #loginForm .ui-button.ui-state-hover .ui-button-text{
  background-color: #000 !important;
}
#loginForm .Card{
  font-family: "Gotham Medium",Helvetica,Arial,sans-serif !important;
  font-weight: 500 !important;
}
#loginForm .Card b{
  font-family: "Gotham Medium",Helvetica,Arial,sans-serif !important;
  font-weight: 500 !important;
}
#loginForm .ui-inputfield{
  font-size: 14px !important;
  color: #000 !important;
  text-align: left;
}

@media all and (max-width:690px){
	.ui-outputlabel, label { 
    justify-content: flex-start;   
    align-items: flex-end;
  }
  .ui-panelgrid-cell>span{
    width: 100%;
  }
  .ui-dialog .ui-button{
    width: 100% !important;
    margin-bottom: 15px;
  }
}



